@{
  Layout = "_Layout";
}

@model QuakeModeler.Models.Quake;
@using QuakeModeler.Models;

<h4>Search Quake data in your area:</h4>
@using(Html.BeginForm())
{
  <div class="form-group">
    @Html.TextBox("placeName", null, new { @class="form-control" })
  </div>
  <button class="btn btn-secondary" type="submit" class="btn btn-outline-dark">Search</button>
}