@{
  Layout = "_Layout";
}

@model QuakeModeler.Models.Quake;
@using QuakeModeler.Models;

<h4>Search Quake data in your area:</h4>
@*@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.PlaceName)
  @Html.TextBoxFor(model => model.PlaceName, new {@class = "form-control"})
  <input type="submit" value="Search" />
}*@

@using(Html.BeginForm())
{
  <p>@Html.TextBox("placeName")</p>
  <button class="btn" type="submit">Search</button>
}