@{
  Layout = "_Layout";
}

<div class="navigation">
  <button class="btn btn-secondary" type="button" onclick="location.href='@Url.Action("Index", "Home")';" class="btn btn-outline-dark">Home</button>
  <button class="btn btn-secondary" type="button" onclick="location.href='@Url.Action("Index", "Quakes")';" class="btn btn-outline-dark">Search</button>
  <button class="btn btn-secondary" type="button" onclick="location.href='@Url.Action("History", "Quakes")';" class="btn btn-outline-dark">History</button>
</div>
<h4>Resources</h4>
<hr />
<ul>
  <li><a href= "https://www.cdc.gov/disasters/earthquakes/supplies.html" target="_blank">CDC Earthquake Supplies</a></li><br>
  <li><a href= "https://www.ready.gov/earthquakes" target="_blank">Ready.gov Earthquakes</a></li><br>
  <li><a href= "http://www.disastercenter.com/guide/earth.html" target="_blank">Disaster Center</a></li><br>
  <li><a href= "https://www.redcross.org/get-help/how-to-prepare-for-emergencies/types-of-emergencies/earthquake.html" target="_blank">Red Cross</a></li><br>
</ul>
